.row {
    color: #fff;
    margin: 0px 20px 20px 20px;
}

.row h2 {
    padding: 0px 8px;
}

.row__posters {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    max-height: 250px;
    object-fit: contain;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.4s;
}

.row__poster:hover {
    transform: scale(1.05);
    opacity: 1;
}

.row__posterLarge {
    max-height: 280px;
}
