header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: transparent;

    /* ANIMATION */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.header__black {
    background-color: #111;
}

.header__logo img {
    width: 100px;
    object-fit: contain;
    cursor: pointer;
    margin-left: 20px;
}

.header__contents img {
    width: 30px;
    cursor: pointer;
    margin-right: 20px;
}